#viewer-extension-root {
  position: fixed;
  bottom: 0;
  z-index: 9999999;
}

.indicator {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #eee;
  border: 1px solid #aaa;
  cursor: pointer;
  z-index: 9999;
}
