#main {
  padding: 0 10px;

  .btn-toolbar {
    margin: 10px 0;

    .btn {
      margin: 0 5px;
    }

    img {
      margin-top: 3px;
      float: right;
      width: 25px;
      cursor: pointer;
    }
  }

  .search-box {
    margin-bottom: 10px;

    &.only-search {
      margin-top: 10px;
    }
  }

  .components {
    overflow-y: auto;
    max-height: 480px;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bubblingG {
    text-align: center;
    width: 120px;
    height: 75px;
  }

  .bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin: 38px auto;
    background: #000456;
    border-radius: 75px;
    animation: bubblingG 1s infinite alternate;

    &:first-child {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:last-child {
      animation-delay: 0.6s;
    }
  }

  @keyframes bubblingG {
    0% {
      width: 15px;
      height: 15px;
      background-color: #000456;
      transform: translateY(0);
    }

    100% {
      width: 36px;
      height: 36px;
      background-color: #FFFFFF;
      transform: translateY(-32px);
    }

  }
}