.component {
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 20px;
  line-height: 20px;

  &:hover {
    background-color: rgba(47, 119, 196, 0.5);
  }

  .name {
    margin: 5px 10px;

    & + div {
      margin-top: 10px;
      background-color: white;
    }

    .component-name {
      margin-right: 15px;
    }

    .inspect-button {
      float: right;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 4px;
      padding: 0 5px;

      &:hover {
        background-color: #71a9ff;
      }
    }
  }
}