.app {
  margin: 10px 30px;

  .panel-body {

    > .form-group {
      .checkbox {
        margin-left: 20px;
      }
    }

    > .container {
      width: 95%;
    }

    .col-menu {
      &:first-of-type {
        padding-bottom: 20px;
        margin: 0 20px 20px 0;
        border: 1px solid black;
        border-radius: 10px;

        .error-msg {
          margin-top: 15px;
          font-weight: bold;
          color: red;
        }

        .apply-feature {
          background-color: #3b99fc;
          margin-top: 5px;
          margin-right: 5px;
          outline: none;

          &:hover {
            background-color: #84befb;
          }
        }

        .update-features {
          float: right;
          outline: none;
        }
      }

      height: 100%;

      .tab-content {
        padding: 0 10px 10px;
        border: 1px solid #ddd;
        border-radius: 0 0 10px 10px;
      }

      .control-label {
        margin-top: 10px;
      }

      .experiments {
        display: flex;
        flex-direction: row;

        > div:first-child {
          margin-right: 10px;
        }
      }

      .col-3 {
        -webkit-column-count: 3;
      }

      .col-2 {
        -webkit-column-count: 2;
      }

      .col-1 {
        -webkit-column-count: 1;
      }

      .form-group {
        margin-bottom: 0;
      }
    }

    .current-version {
      font-size: smaller;
    }
  }
}