.app {
  margin: 30px;
}

.main {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
    max-width: 350px;
  }
}

.experiment, .packages {
  margin-left: 15px;

  label {
    display: block;
  }

  .select-all {
    margin-bottom: 5px;
  }
}

.version {
  label {
    display: block;
  }

  > button {
    margin-top: 10px;
  }
}

.disabled * {
  text-decoration: line-through;
}