.app {
  margin: 10px 30px;

  .panel-body {

    > .form-group {
      .checkbox {
        margin-left: 20px;
      }
    }

    .container {
      width: 95%;
    }

    .col-menu {
      &:first-of-type {
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 10px;

        button {
          margin: 15px 0;
        }
      }

      height: 100%;

      .tab-content {
        padding: 0 10px 10px;
        border: 1px solid #ddd;
        border-radius: 0 0 10px 10px;
      }

      .col-3 {
        -webkit-column-count: 3;
      }

      .form-group {
        margin-bottom: 0;
      }
    }
  }
}